* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
.dark-mode {
  background-color: black;
  color: white;
}
.main {
  height: 100%;
  width: 100%;
  background-color: #d0d4d5;
  position: relative;
}
.dark-mode .main{
  background-color: #000000;
  color: #fff;
}
.dark-mode .left button{
  background-color: #fff;
  color: #000000;
}
.dark-mode .elem h4{
  color: #000000;
}
.dark-mode .left h5{
  color: crimson;
}

.nav {
  height: 90px;
  padding: 0 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav img {
  height: 40px;
  margin-right: 170px;
  /* z-index: 3; */
}

.nav_part1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* toogle button start */
.switch {
 /* margin-right: 150px; */
  position: relative;
  display: inline-block;
/* margin-bottom: 10px; */
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:black;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f38021;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f38021;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* toggle button end*/
.nav_part1 h4 {
  margin-right: 60px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
.nav_part2 i {
  margin-right: 60px;
  font-size: 23px;
  /* font-weight: 500; */
}
.content {
  width: 100%;
  /* height: calc(100%-110px); */
  height: calc(100% - 90px);
  /* background-color: black; */
  display: flex;
  position: relative;
}
.left {
  height: 100%;
  width: 40%;
  /* background-color: red; */
  padding: 60px 150px;
}
.left h5 {
  font-size: 15px;
  color: #535353;
  margin-bottom: 30px;
}
.left h1 {
  font-size: 80px;
  text-transform: uppercase;
  transition-duration: 5s;
  transition: width 1s, height 1s, transform 1s;
  /* -webkit-box-reflect: right; */
}
/* .left h1:hover {
  color: #d4af37;
  cursor: pointer;
  transform: rotate(360deg);
  /* opacity: 1000%; 
} */
.left p {
  font-size: 16px;
  width: 75%;
  line-height: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.left button {
  background-color: black;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  padding: 12px 24px;
  border: none;
  border-radius: 50px;
  border-top-left-radius: 0px;
  margin-top: 10px;
}
.left button:hover{
  transition: transform 0.5s;
  transform: scale(1.12);
}
.right {
  height: 100%;
  width: 60%;
  /* background-color: blue; */
  padding: 100px;
  white-space: nowrap;
  overflow-x: auto;
}
.right::-webkit-scrollbar {
  display: none;
}
.elem {
  height: 450px;
  width: 300px;
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin-right: 17px;
}
.elem img {
  position: absolute;
  top: 15%;
  height: 70%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s; /* Animation */
}
.elem img:hover {
  transform: scale(1.1419);
  /* transform: scale(1.5); */
  z-index: 1;
  border-radius: 10px;
}
.elem h4 {
  position: absolute;
  bottom: 0%;
  right: 0%;
  background-color:#d0d4d5;
  padding: 18px 35px;
  border-radius: 10px;
  border-bottom-right-radius: 10px;
  
}
.elem h5 {
  position: absolute;
  bottom: 10%;
  right: 0%;
  background-color: #000000;
  color: #fff;
  font-weight: 800;
  padding: 18px 35px;
  border-radius: 10px;
  font-size: 14px;
  border-bottom-right-radius: 0px;
  z-index: 2;
}
.para1 {
  position: absolute;
  bottom: 1%;
  left: 0%;
  background-color: #fff;
  color: #000000;
  font-weight: 800;
  padding: 11px 35px;
  border-radius: 10px;
  font-size: 14px;
  border-bottom-right-radius: 0px;
}
